@model IEnumerable<coop_atm_locator.Models.Locations>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetailOutlet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestrictedAccess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptDeposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptCash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnvelopeRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnMilitaryBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnPremise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surcharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Access)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstallationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HandicapAccess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursMonOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursMonClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursTueOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursTueClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursWedOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursWedClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursThuOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursThuClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursFriOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursFriClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursSatOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursSatClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursSunOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursSunClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursDtmonOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursDtmonClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursDttueOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursDttueClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursDtwedOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursDtwedClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursDtthuOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursDtthuClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursDtfriOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursDtfriClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursDtsatOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursDtsatClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursDtsunOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursDtsunClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cashless)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriveThruOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LimitedTransactions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MilitaryIdRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelfServiceDevice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelfServiceOnly)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetailOutlet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestrictedAccess)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptDeposit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptCash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnvelopeRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnMilitaryBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnPremise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surcharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Access)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstallationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandicapAccess)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursMonOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursMonClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursTueOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursTueClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursWedOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursWedClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursThuOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursThuClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursFriOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursFriClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursSatOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursSatClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursSunOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursSunClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursDtmonOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursDtmonClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursDttueOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursDttueClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursDtwedOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursDtwedClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursDtthuOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursDtthuClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursDtfriOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursDtfriClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursDtsatOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursDtsatClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursDtsunOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursDtsunClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cashless)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriveThruOnly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LimitedTransactions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MilitaryIdRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelfServiceDevice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelfServiceOnly)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
